/* Natuarally CSS */
body{
    overflow-x: hidden ;
}
img{
    max-width: 100% ;
} 
/* ---------- Special CSS Which for use on HTML Page as Class -------- */
.color-light{
    color: rgb(255 255 255 / 71%);
}
.back-black{
    background-color: rgb(1 3 20 / 90%) ;
}

/* Special CSS End */

/* ---------- Preloader CSS ---------- */

.loader{
    position: fixed ; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center ;
    align-items: center ;
    background-color: black ;
}
.disppear{
    animation: fokhrul 0s forwards ;
} 
@keyframes fokhrul {
    100%{
        opacity: 0;
        visibility: hidden ;
    }
} /*    End     */
/* -----------Navigation CSS--------- */
#navbar , #logo{
    transition : .3s ease-in-out ; 
}
#logo{
    font-size: 35px  ;
}
/* End */
/* ----------Service/Profession CSS ------------*/
.Boxes{
    box-shadow: 0px 0px 11px #000000a1;
    border-radius: 8px;
}

@media (min-width: 768px) {
    .news-input{
       width: 50% ; 
    }
}
@media (max-width: 769px) {
    .about-img{
        width: 100% !important;
        padding-bottom : 40px ; 
    }
}

/*------------ Custom Scroller for Right Site ------------ */
::-webkit-scrollbar {
    background: rgb(12, 47, 94);
    width: 10px;
  } 
  ::-webkit-scrollbar-thumb {
    background: rgb(87, 7, 63) ;
    border-radius: 10px;
  }


/*--------- Protfolio CSS -----------*/
.protfolioSection{
    background-color: rgb(1 3 20 / 90%);
    padding: 124px 0px;
}
.protfolioCard{
    position: relative;
    overflow: hidden;
    height: 279px;
}
.protfolioCard img{
    transition: .3s ease-in-out;
}
.protfolioContant{
    position: absolute;
    /* max-width: 100%; */
    /* height: 100%; */
    text-align: center ;
    /* padding: 10px 15px ; */
    top: 0 ;
    bottom: 0 ;
    /* left: 0;
    right: 0 ; */
    transform: scaleY(0);
    transform-origin: bottom;
    transition: .3s ease-in-out;
    background-color: rgba(0, 11, 109, 0.637);
}

.protfolioCard:hover .protfolioContant{
    transform: scaleY(1);
}
.protfolioCard:hover img{
    transform: scale(1.1);
}














/* .input-group.news-input i {
    font-size: 30px;
    margin: 0px 24px;
    padding: 0px 11px 6px 11px;
} */